body {
    font-family: 'Montserrat', sans-serif;
}

header {
    background: #BBBBBB;
    padding: 20px 0;
}

.caixa {
    position: relative;
    width: 940px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;

}

.produtos {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.produtos li:hover {
    border-color: #C78C19;
}

.produtos li:active {
    border-color: #088C19;
}

.produtos li:hover h2 {
    font-size: 32px;
}

.produtos h2 {
    font-size: 30px;
    font-weight: bold;
}

.produto-descricao {
    font-size: 18px;

}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {
    text-align: center;
    background: url("../imagens/bg.jpg");
    padding: 40px 0;
}

.copyright {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

/* CSS da página contato.html */

/* main {
    
} */

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px; /*ou margin bottom*/
}

.input-padrao {
    display: block;
    margin: 0 0 20px; /*ou margin bottom*/
    padding: 10px 25px; /*10px para cima e para baixo e 25px para os lados*/
    width: 50%;
}

.checkbox {
    margin: 20px 0; /* 20px margin para cima e para baixo e 0 para os lados*/
}

.enviar {
    width: 40%;
    padding: 15px 0; /* 15px padding para cima e para baixo e 0 para os lados*/
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;
    transform: scale(1.2);
}

table {
    margin: 20px 0 40px;
}

thead {
    background: #555555;
    color: white;
    font-weight: bold;
}

td, th {
    border: 1px solid #000000;
    padding: 8px 15px; /* 8px padding para cima e para baixo e 15px para os lados*/
}

/* CSS da página index.html(Página inicial) */
.banner {
    width: 100%;
}

.titulo-principal {
    text-align: center;
    font-size: 2em; /*Corresponde ao dobro da fonte principal. Ex: Se uma fonte tiver 15px, 2em equivale a 30px*/
    margin: 0 0 1em; /*Corresponde a margin bottom ou seja para baixo*/
    clear: left;                      
}

/* .titulo-principal:first-letter {
    font-weight: bold;
}

.titulo-principal:before {
    content: "[ ";
}

.titulo-principal:after {
    content: " ]";
} */

.principal {
    padding: 3em 0; /*Corresponde a 3em para cima e para baixo e 0 para os lados*/
    background: #FEFEFE;
    width: 940px;
    margin: 0 auto;
}

.principal p {
    margin: 0 0 1em;
}

.principal strong {
    font-weight: bold;
}

.principal em {
    font-style: italic;
}

.utensilios {
    width: 120px;
    float: left;
    margin: 0 20px 20px 0; /*Corresponde a 0 para cima, 20px para direita, 20px para baixo e 0 para esquerda*/
}

.mapa {
    padding: 3em 0; /*Corresponde ao padding de 3em para cima e para baixo e 0 para os lados*/
    background: linear-gradient(#FEFEFE, #888888)
}

.mapa-conteudo {
    width: 940px;
    margin: 0 auto;
}

.mapa p {
    margin: 0 0 2em; /*Corresponde ao espaçamento para baixo de 2em*/
    text-align: center;
}

.beneficios {
    padding: 3em 0; /*Corresponde a 3em para cima e para baixo e 0 para os lados*/
    background: #888888;
    
                        /* box-shadow: inset 0 0 30px aquamarine; -> Opção de colocar sombra nos elementos*/
}

.conteudo-beneficios {
    width: 640px;
    margin: 0 auto; /*Corresponde a 0 para cima e para baixo e auto para os lados*/
}

.lista-beneficios {
    width: 40%;
    display: inline-block;
    vertical-align: top;
}

.itens {
    line-height: 1.5;
}

.itens:first-child {
    font-weight: bold;
}

.itens:before {
    content: "★";
}

.imagem-beneficios {
    width: 60%;
    opacity: 1;
    transition: 400ms;
    box-shadow: 10px 10px 10px 0 #000000; /*Opção de colocar sombra na imagem*/
}

.imagem-beneficios:hover {
    opacity: 0.3;
}

.video {
    width: 560px;
    margin: 2em auto; /*Corresponde a 2em para cima e para baixo e auto nas laterais*/

}

/* CSS da página de contato.html */

.informacoes-pessoais {
    margin: 0 0 0 40px; /*Corresponde a 0 para cima, 0 para direita, 0 para baixo e 40px para a esquerda*/
}

/* CSS Responsivo */

@media screen and (max-width: 480px) {
    .caixa, .principal, .conteudo-beneficios, .mapa-conteudo, .video {
        width: auto;
    }

    h1 {
        text-align: center;
    }

    nav {
        position: static;
    }

    .lista-beneficios, .imagem-beneficios {
        width: 100%;
    }
}


